* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8B195;
    height: 100vh;
}

.bmi-box {
    width: 100%;
    max-width: 540px;
    background-color: #333;
    height: 350;
    border-radius: 10px;
}
.bmi-box h3 {
    display: flex;
    justify-content: center;
    color: white;
}

.input-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.input-form input {
    height: 2rem;
    width: 20rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.input-form input:nth-child(2) {
    margin-bottom: 1rem;
}

.input-form button {
    border-radius: 5px;
    width: 15rem;
    height: 5rem;
    background-color: coral;
    color: white;
    margin-bottom: 1rem;
}

.input-form .clear {
    background-color: white;
    color: black;
    width: 5rem;
    height: 2rem;
}

.input-form .calculate:hover {
    background-color: orange;
    transition: 0.5s;
}

.input-form .clear:hover {
    background-color: lightgray;
    transition: 0.5s;
}

.hidden {
    display: none;
}
